.footer{
    width: 100%;
    height: 500px;
    background-color: #f8f9fa;
    margin-top: 3%;
    list-style-type: none;
    display: flex;
    color: #6c757d;
    /* font-size: xx-large; */
 
}

p{
    font-size: 27px;
}

li{
    list-style-type: none;
}
ul a{
    list-style-type: none;
    color: #6c757d;

}
