
.not_found{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;
  /* margin:0; */
  top: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.view{
  margin-right: 5%;
}