*{
  /* background-image:url("https://via.placeholder.com/500") ; */
  /* background-color: bisque; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.number {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #EAFAF1 ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time {
  width: 100%;
  height: 100vh;
  background-color:  #FDEDEC ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#btn{
  padding: 15px 20px ;
  /* margin: 20px; */
  background-color: yellowgreen;
  border: 1px solid whitesmoke;
  outline: none;
  outline-width: medium;
  border-radius: 10%;
  text-transform: uppercase;
  cursor: alias;
  position: relative;
  /* white-space: pre-line */
}
#btn2{
  /* margin: 20px; */
  padding: 15px 10px ;
  background-color: #CD6155  ;
  border: 1px solid rgb(9, 27, 1);
  outline: none;
  outline-width: medium;
  border-radius: 22%;
  text-transform: uppercase;
  cursor: alias;
  position: relative;
}

.event{
  width: 100%;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  color: aliceblue;
  background: transparent;
  text-shadow: 0 2px 2px black;
}

#btn3{
  padding: 12px 20px;
  background: blueviolet;
  color: azure;
  outline: none;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
}